@{
    ViewBag.Title = "認証情報設定";
}
<h2>@ViewBag.Title</h2>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-info">@ViewBag.Message</div>
}

<p>認証情報ファイルアップロード</p>

@using (Html.BeginForm("AuthAsync", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <input type="file" name="dataFile" id="inputFile">
    </div>
    <button type="submit" class="btn btn-primary">登録</button>
}